.sider {
    width: 30%;
    background-color: gainsboro;
    padding: 10px;
}

.sider__chats li {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sider__new-message {
    width: 7px;
    height: 7px;
    background: red;
    border-radius: 50%;
}