.chat-container {
    width: 70%;
    background-color: aliceblue;
    height: 100%;
}

.chat-room {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 76%;
    width: 100%;
}

.chat-container__messages {
    flex-grow: 1;
    overflow-y: scroll;
    position: relative;
    height: 84vh;
}

.chat-thread {
    position: relative;
    width: 100%;
    min-height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.chat-container__input {
    display: flex;
}

.chat-container__sender {
    margin-right: 10px;
}

.chat-container__name-chat {
    font-weight: 500;
    border-bottom: 1px solid #f0f0f0;
    padding: 5px 10px;
    background-color: #c1ddf6;
}

.chat-container__messages::-webkit-scrollbar {
    width: 5px;
}

.chat-container__messages::-webkit-scrollbar-thumb {
    background-color: #add8ff;
}