.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    padding: 10px 30px;
    border-bottom: 1px solid #e4e0e0;
}

.navbar__title {
    margin: 0;
}